body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #723c13;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc2MCcgaGVpZ2h0PSc0MCcgdmlld0JveD0nMCAwIDYwIDQwJz4KICA8ZWxsaXBzZSBjeD0nMzAnIGN5PScyMCcgcng9JzI4JyByeT0nMTgnIGZpbGw9JyM4QjQ1MTMnIHN0cm9rZT0nIzhCNDUxMycgc3Ryb2tlLXdpZHRoPScyJy8+CiAgPHJlY3QgeD0nNCcgeT0nMTInIHdpZHRoPSc2JyBoZWlnaHQ9JzE2JyBmaWxsPSd3aGl0ZScvPgogIDxyZWN0IHg9JzUwJyB5PScxMicgd2lkdGg9JzYnIGhlaWdodD0nMTYnIGZpbGw9J3doaXRlJy8+CiAgPGxpbmUgeDE9JzEyJyB5MT0nMjAnIHgyPSc0OCcgeTI9JzIwJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzInLz4KICA8bGluZSB4MT0nMjInIHkxPScxNScgeDI9JzIyJyB5Mj0nMjUnIHN0cm9rZT0nd2hpdGUnIHN0cm9rZS13aWR0aD0nMicvPgogIDxsaW5lIHgxPSczMCcgeTE9JzE1JyB4Mj0nMzAnIHkyPScyNScgc3Ryb2tlPSd3aGl0ZScgc3Ryb2tlLXdpZHRoPScyJy8+CiAgPGxpbmUgeDE9JzM4JyB5MT0nMTUnIHgyPSczOCcgeTI9JzI1JyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzInLz4KPC9zdmc+Cg==");
  background-repeat: repeat;
  background-size: 60px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
